[submodule "monik/log/third_party/openssl"]
	path = monik/log/third_party/openssl
	url = git://git.openssl.org/openssl.git
    branch = OpenSSL_1_1_0-stable
[submodule "monik/log/third_party/rabbitmq-c"]
	path = monik/log/third_party/rabbitmq-c
	url = https://github.com/alanxz/rabbitmq-c
[submodule "monik/log/third_party/protobuf"]
	path = monik/log/third_party/protobuf
	url = https://github.com/google/protobuf.git
    branch = v3.2.0
